*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --clr-lt: #e9edef;
    --clr-dk: #202c33;
    --clr-dkr: #111b21;
    --clr-text-drk: #808e99;
    --clr-bright-green: #088d84;
    --clr-dull-green: #0a332c;
    --clr-glow-green: #0a332c;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.desktop-extended {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-dk);
    height: 100vh;
    width: 4em;
    padding: 10px 20px;
    position: fixed;
    border-right: thin solid #2f3b43;
}

.sidebar img {
    width: 1.7em;
}

.sidebar .nav-links,
.sidebar .settings-and-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .nav-links {
    gap: .5em;
}

.sidebar > div > div {
    display: flex;
    flex-direction: column;
}

.sidebar > .nav-links > div {
    gap: 1.2em;
}

.sidebar .divider {
    height: 2px;
    width: 1.5em;
    background-color: #4d565c;
    margin: 10px 0;
}

.chat-section {
    background-color: var(--clr-dkr);
    color: var(--clr-lt);
    margin-left: 4em;
    width: 100%;
    min-height: 100vh;
    border-right: thin solid #2f3b43;
}

.chat-section .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 1.5em;
}

.chat-header .chat-options {
    display: inline-flex;
    align-items: center;
    gap: 1em;
}

.chat-section .chat-header .chat-list-hamburger > img {
    width: 3em;
}

.chat-section .chat-header img {
    width: 1.8em;
}
.chat-section .search-bar img,
.chat-section .chat-categories img {
    width: 1.1em;
}

.search-bar {
    background-color: var(--clr-dk);
    margin: .5em .8em;
    padding: 5px 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 2em;
}

.search-bar .search-icon {
    display: flex;
    align-items: center;
}

.search-bar input {
    font-size: 1em;
    outline: none;
    border: none;
    color: var(--clr-lt);
    background-color: var(--clr-dk);
    padding: 5px 0;
}

.search-bar input::placeholder {
    color: var(--clr-text-drk);
}

.chat-categories {
    margin-inline: 1em;
    gap: .5em;
    display: flex;
}

.chat-categories a {
    background-color: var(--clr-dk);
    color: var(--clr-text-drk);
    height: 2em;
    padding: 0.3em .7em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 1em;
}

.chat-categories a:nth-child(1){
    background-color: var(--clr-glow-green);
    color: var(--clr-bright-green);
}

.contact-message {
    display: grid;
    gap: 1em;
}

.contact-message img {
    width: 3em;
}

.contact-message .contact-message-details {
    display: flex;
}

.contact-message .contact-message-details div:nth-child(2) {
    display: flex;
}

.contact-chat {
    min-height: 100vh;
}

.contact-chat header{
    background-color: var(--clr-dk);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: var(--clr-lt);
    height: 10vh;
}

.contact-chat header .contact-profile {
    display: inline-flex;
    gap: 10px;
}

.contact-chat img {
    width: 2em;
}

.contact-chat main {
    color: var(--clr-lt);
    background-image: url(../images/bg.jpg);
    height: 80vh;
    padding: 20px 40px;
}

.contact-chat footer {
    background-color: var(--clr-dk);
    height: 10vh;
}